
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --white:#fff;
  --black:#111;
  --blue:#8576FF;
  --grey:#888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red: #f94141;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
   height:100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

::selection{
  background-color: var(--red);
  color: var(--white);
}
::-webkit-scrollbar {

 width: 5px;
}


::-webkit-scrollbar-track {
  background: #111;

}


::-webkit-scrollbar-thumb {
  background: #8576FF;
}


::-webkit-scrollbar-thumb:hover {
  background: #8576FF;
}
.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
}